<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37340311475-2gqa80r6c445e5e2fbq7caarou9rv2i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37340311475-2gqa80r6c445e5e2fbq7caarou9rv2i5</string>
	<key>API_KEY</key>
	<string>AIzaSyBUVOF6QBxuJFUJoTkSmdlE61bZxPY1jK4</string>
	<key>GCM_SENDER_ID</key>
	<string>37340311475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikitech.gohomy</string>
	<key>PROJECT_ID</key>
	<string>rencity-2f771</string>
	<key>STORAGE_BUCKET</key>
	<string>rencity-2f771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37340311475:ios:97a5f14846d2bd5c8b65c6</string>
</dict>
</plist>